@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 64px;
  font-style: italic;
  font-weight: 700;
}

h1 span {
  color: hsl(259, 100%, 65%);
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 528px;
  width: 650px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  border-bottom-right-radius: 150px;
  padding: 50px;
}

.form {
  display: flex;
  gap: 30px;
  color: hsl(0, 1%, 44%);
  border-bottom: 1px solid hsl(0, 0%, 86%);
  padding-bottom: 40px;
}

label {
  font-size: 13.5px;
  margin-top: -18px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

input {
  width: 130px;
  height: 20px;
  border-radius: 5px;
  padding: 30px 0;
  padding-left: 15px;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  border: 1px solid hsl(0, 0%, 86%);
}

input:focus {
  outline: 1.5px solid hsl(259, 100%, 65%);
  outline-offset: -1.5px; /* To prevent the outline from affecting the layout */
}

.svg-container {
  display: flex;
  justify-content: right;
  margin: -40px -30px 0 0;
}

.svg {
  background-color: hsl(259, 100%, 65%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms;
}

.svg:hover {
  background-color: hsl(0, 0%, 8%);
}

/*
 Classes to add when input is invalid (check script.js)
*/

.invalid-input {
  border: 1px solid hsl(0, 100%, 67%);
}

.label-invalid-text {
  color: hsl(0, 100%, 67%);
}

.invalid-text {
  color: hsl(0, 100%, 67%);
  font-size: 10.5px;
  font-style: italic;
  margin-top: 8px;
}

/*
get rid of arrow from input fields
*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*
Media Queries
*/

@media (max-width: 740px) {
  main {
    width: 550px;
    padding: 55px 50px 42px;
  }

  .svg-container {
    margin: -40px -20px 0 0;
  }
}

@media (max-width: 630px) {
  main {
    width: 500px;
    padding: 62px 40px 36px;
  }

  .form {
    gap: 25px;
    padding-bottom: 50px;
  }

  h1 {
    font-size: 57px;
  }

  label {
    font-size: 13px;
  }

  input {
    width: 120px;
    height: 18px;
    font-size: 28px;
  }

  .svg-container {
    margin: -35px -10px 0 0;
  }

  .svg {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 550px) {
  main {
    width: 450px;
    padding: 70px 30px 28px;
  }

  .form {
    gap: 23px;
    padding-bottom: 55px;
  }

  label {
    font-size: 13px;
  }

  input {
    width: 110px;
    height: 16px;
    font-size: 28px;
  }

  .svg-container {
    margin: -32.6px -10px 0 0;
  }

  .svg {
    width: 65px;
    height: 65px;
  }
}

@media (max-width: 490px) {
  main {
    width: 400px;
    padding: 80px 20px 18px;
  }

  h1 {
    font-size: 51px;
  }

  .form {
    gap: 20px;
    padding-bottom: 57px;
  }

  input {
    width: 100px;
    height: 14.5px;
    font-size: 26px;
  }

  .svg-container {
    margin: -30px 0px 0 0;
  }

  .svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 435px) {
  main {
    width: 350px;
    padding: 90px 24px 18px;
  }

  h1 {
    font-size: 48px;
  }

  .form {
    gap: 17px;
  }

  input {
    width: 90px;
    height: 13px;
    font-size: 24px;
  }

  .svg-container {
    margin: -30px 7px 0 0;
  }

  .svg {
    width: 55px;
    height: 55px;
  }
}
