@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 64px;
  font-style: italic;
  font-weight: 700;
}

h1 span {
  color: hsl(259, 100%, 65%);
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 528px;
  width: 650px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  border-bottom-right-radius: 150px;
  padding: 50px;
}

.form {
  display: flex;
  gap: 30px;
  color: hsl(0, 1%, 44%);
  border-bottom: 1px solid hsl(0, 0%, 86%);
  padding-bottom: 40px;
}

label {
  font-size: 13.5px;
  margin-top: -18px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

input {
  width: 130px;
  height: 20px;
  border-radius: 5px;
  padding: 30px 0;
  padding-left: 15px;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  border: 1px solid hsl(0, 0%, 86%);
}

.svg-container {
  display: flex;
  justify-content: right;
  margin: -40px -30px 0 0;
}

.svg {
  background-color: hsl(259, 100%, 65%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms;
}

.svg:hover {
  background-color: hsl(0, 0%, 8%);
}

/*
 Classes to add when input is invalid (check script.js)
*/

.invalid-input {
  border: 1px solid hsl(0, 100%, 67%);
}

.label-invalid-text {
  color: hsl(0, 100%, 67%);
}

.invalid-text {
  color: hsl(0, 100%, 67%);
  font-size: 10.5px;
  font-style: italic;
  margin-top: 8px;
}
